<h2>Edit Profile</h2>
<div>
    <label>Name</label>
    <input id = 'name' type="text" ng-model="editName">

</div>
<div >
    <label>User Name</label>
    <input id = 'username' type="text" ng-model="editUsername">
</div>

<div >
    <label>Image Url</label>
    <input id = 'pic' type="text" ng-model="editPicture">

</div>

<div class="col s12">
    <label for="textarea1">Textarea</label>
    <textarea id="textarea1" class="materialize-textarea" ng-model="editBio"></textarea>

</div>

<a class="btn" ng-click="editUser()">Confirm Edit</a>