<h2>New User</h2>
<div class="input-field">
    <label for = 'name'>Name</label>
    <input id = 'name' type="text" ng-model="newName">

</div>
<div class="input-field">
    <label for = 'email'>Email</label>
    <input id = 'email' type="text" ng-model="newEmail">

</div>
<div class="input-field">
    <label for = 'username'>User Name</label>
    <input id = 'username' type="text" ng-model="newUsername">

</div>

<div class="input-field">
    <label for = 'password'>Password</label>
    <input id = 'password' type="password" ng-model="newPassword">

</div>

<div class="input-field">
    <label for = 'pic'>Image Url</label>
    <input id = 'pic' type="text" ng-model="newPicture">

</div>
<div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea" ng-model="newBio"></textarea>
    <label for="textarea1">Textarea</label>
</div>



<a class="btn" ng-click="register()">Register!!</a>